* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

#container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

header{
    background-color: #120323;
    text-align: center;
    color: #97bf04;
    padding: 1rem;
}

#container img {
    display: flex;
    margin: 0 auto; 
    max-width: 100%; 
    height: auto; 
    border: 5px solid red;
    margin-top: 2rem;
}

aside{
    background-color: #97bf04;
    padding: 1rem;
}

footer{
    background-color: #d9043d;
    color: whitesmoke;
    text-align: center;
    margin-top: 1rem;
    padding: 2rem;
}

@media screen and (min-width: 769px) and (max-width: 999px) {
    #container figure {
        display: flex;
        flex-direction: row;
    }

    #container img {
        margin-right: 2rem; 
        max-width: 300px;
        height: 0%; 
        border: 5px solid red;
        margin-top: 1rem;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    h1 {
        padding: 1rem;
    }
    main{
        flex-grow: 1;
    }
}

@media screen and (min-width: 1000px) {
    #container figure{
        display: flex;
        flex-direction: row;
    }
    #container img {
        margin-right: 2rem; 
        max-width: 300px;
        height: 0%; 
        border: 5px solid red;
        margin-top: 1rem;
    }
    #container{
        display: flex;
        flex-direction: row;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    h1 {
        padding: 1rem;
    }    
 }
